@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Poppins' , sans-serif; /*The second font is the default font */
}
html, body{
    display: grid; 
    height: 100%; 
    place-items: center; 
    background:#4d246f; 
} 
button { 
    background: transparent; 
    border: none;  
    transform: rotate(-35deg) skew(20deg); 
    transition: all 0.3s;
}
button:hover{
    cursor: pointer;    
}
.icons{
    display: inline-flex; 
}
.icons a{
    margin: 0 25px;
    /* left: 10px; This is moving the entire palete of icons so no use */
    text-decoration: none; 
    color: #fff; 
    display: block;
    position: relative;  
} 
.icons a .layer{
    /* left: 1500px; No use including this code here */
    width: 55px; 
    height: 55px;
    transition: transform 0.5s;
    /* cursor: pointer; */

}
.icons a:hover .layer{
    transform: rotate(-35deg) skew(20deg); 
}
.icons a .layer span{
    position: absolute; 
    top: 0; 
    left: 0;
    height: 100%; 
    width: 100%; 
    border: 1px solid #fff;
    border-radius: 25px; 
    transition: all 0.3s; 
}
.icons a .layer span.fa-solid {
    font-size: 30px;
    line-height: 55px; 
    text-align: center;
    /* left: 10px;  here the top layer containing is getting moved. I need to move the icon only to the right */
}
.icons a:hover .layer span:nth-child(1){
    opacity: 0.2; 
}
.icons a:hover .layer span:nth-child(2){
    opacity: 0.4; 
    transform: translate(5px, -5px);
}
.icons a:hover .layer span:nth-child(3){
    opacity: 0.6; 
    transform: translate(10px, -10px);
}
.icons a:hover .layer span:nth-child(4){
    opacity: 0.8; 
    transform: translate(15px, -15px);
}
.icons a:hover .layer span:nth-child(5){
    opacity: 1.0; 
    transform: translate(20px, -20px);
}
.icons a:hover:nth-child(1) .layer span{
    color: #59b7e9;
    border-color: #59b7e9;
}
.icons a:hover:nth-child(1) .text{
    color: #59b7e9;
    border-color: #59b7e9;
}

.icons a:hover:nth-child(2) .layer span{
    color: #99b7cf;
    border-color: #99b7cf;
}
.icons a:hover:nth-child(2) .text{
    color: #99b7cf;
    border-color: #99b7cf;
}

.icons a:hover:nth-child(3) .layer span{
    color: #8c5ca4;
    border-color: #8c5ca4;
}
.icons a:hover:nth-child(3) .text{
    color: #8c5ca4;
    border-color: #8c5ca4;
}

.icons a:hover:nth-child(4) .layer span{
    color: #afafd7;
    border-color: #afafd7;
}
.icons a:hover:nth-child(4) .text{
    color: #afafd7;
    border-color: #afafd7;
}

.icons a:hover:nth-child(5) .layer span{
    color: #ff0000;
    border-color: #ff0000;
}
.icons a:hover:nth-child(5) .text{
    color: #ff0000;
    border-color: #ff0000;
}
.icons a:hover:nth-child(1) .layer span{
    box-shadow: -1px 1px 3px #59b7e9;
}
.icons a:hover:nth-child(2) .layer span{
    box-shadow: -1px 1px 3px #99b7cf;
}
.icons a:hover:nth-child(3) .layer span{
    box-shadow: -1px 1px 3px #8c5ca4;
}
.icons a:hover:nth-child(4) .layer span{
    box-shadow: -1px 1px 3px #afafd7;
}
.icons a:hover:nth-child(5) .layer span{
    box-shadow: -1px 1px 3px #ff0000;
}
.icons a .text{
    position: absolute; 
    left: 50%; 
    bottom: -25px; 
    opacity: 0;
    transform: translateX(-50%); 
    transition: bottom 0.3s ease, opacity 0.3s ease; 
}
.icons a:hover .text{
    bottom: -45px;
    opacity: 1; 
}